body{
  background-image:url('card-table.jpeg')
}
.card {
  height:240px;
  width:180px;
  position: absolute;
  border-radius:6px;
}

.player{
  margin: 15% 40%;
}

.computer{
  margin: 15% 60%;
}
.count{
  background-color:lightgrey;
  padding:15px;
  width:130px;
  border-radius:6px;
}
#playerCount{
  position:absolute;
  margin:10% 40%;
}
#computerCount{
  position:absolute;
  margin:10% 60%;
}

#play{
  position: absolute;
  margin: 2% 49%;
  height:50px;
  width:200px;
  border-radius:6px
}

#two-clubs{
  background-image:url('PNG-cards-1.3/2_of_clubs.png');
  background-size:100% 100%;
}

#two-spades{
  background-image:url('PNG-cards-1.3/2_of_spades.png');
  background-size:100% 100%;
}

#two-diamonds{
  background-image:url('PNG-cards-1.3/2_of_diamonds.png');
  background-size:100% 100%;
}

#two-hearts{
  background-image:url('PNG-cards-1.3/2_of_hearts.png');
  background-size:100% 100%;
}

#three-clubs{
  background-image:url('PNG-cards-1.3/3_of_clubs.png');
  background-size:100% 100%;
}

#three-spades{
  background-image:url('PNG-cards-1.3/3_of_spades.png');
  background-size:100% 100%;
}

#three-diamonds{
  background-image:url('PNG-cards-1.3/3_of_diamonds.png');
  background-size:100% 100%;
}

#three-hearts{
  background-image:url('PNG-cards-1.3/3_of_hearts.png');
  background-size:100% 100%;
}

#four-clubs{
  background-image:url('PNG-cards-1.3/4_of_clubs.png');
  background-size:100% 100%;
}

#four-spades{
  background-image:url('PNG-cards-1.3/4_of_spades.png');
  background-size:100% 100%;
}

#four-diamonds{
  background-image:url('PNG-cards-1.3/4_of_diamonds.png');
  background-size:100% 100%;
}

#four-hearts{
  background-image:url('PNG-cards-1.3/4_of_hearts.png');
  background-size:100% 100%;
}

#five-clubs{
  background-image:url('PNG-cards-1.3/4_of_clubs.png');
  background-size:100% 100%;
}

#five-spades{
  background-image:url('PNG-cards-1.3/5_of_spades.png');
  background-size:100% 100%;
}

#five-diamonds{
  background-image:url('PNG-cards-1.3/5_of_diamonds.png');
  background-size:100% 100%;
}

#five-hearts{
  background-image:url('PNG-cards-1.3/5_of_hearts.png');
  background-size:100% 100%;
}

#six-clubs{
  background-image:url('PNG-cards-1.3/6_of_clubs.png');
  background-size:100% 100%;
}

#six-spades{
  background-image:url('PNG-cards-1.3/6_of_spades.png');
  background-size:100% 100%;
}

#six-diamonds{
  background-image:url('PNG-cards-1.3/6_of_diamonds.png');
  background-size:100% 100%;
}

#six-hearts{
  background-image:url('PNG-cards-1.3/6_of_hearts.png');
  background-size:100% 100%;
}

#seven-clubs{
  background-image:url('PNG-cards-1.3/7_of_clubs.png');
  background-size:100% 100%;
}

#seven-spades{
  background-image:url('PNG-cards-1.3/7_of_spades.png');
  background-size:100% 100%;
}

#seven-diamonds{
  background-image:url('PNG-cards-1.3/7_of_diamonds.png');
  background-size:100% 100%;
}

#seven-hearts{
  background-image:url('PNG-cards-1.3/7_of_hearts.png');
  background-size:100% 100%;
}

#eight-clubs{
  background-image:url('PNG-cards-1.3/8_of_clubs.png');
  background-size:100% 100%;
}

#eight-spades{
  background-image:url('PNG-cards-1.3/8_of_spades.png');
  background-size:100% 100%;
}

#eight-diamonds{
  background-image:url('PNG-cards-1.3/8_of_diamonds.png');
  background-size:100% 100%;
}

#eight-hearts{
  background-image:url('PNG-cards-1.3/8_of_hearts.png');
  background-size:100% 100%;
}

#nine-clubs{
  background-image:url('PNG-cards-1.3/9_of_clubs.png');
  background-size:100% 100%;
}

#nine-spades{
  background-image:url('PNG-cards-1.3/9_of_spades.png');
  background-size:100% 100%;
}

#nine-diamonds{
  background-image:url('PNG-cards-1.3/9_of_diamonds.png');
  background-size:100% 100%;
}

#nine-hearts{
  background-image:url('PNG-cards-1.3/9_of_hearts.png');
  background-size:100% 100%;
}

#ten-clubs{
  background-image:url('PNG-cards-1.3/10_of_clubs.png');
  background-size:100% 100%;
}

#ten-spades{
  background-image:url('PNG-cards-1.3/10_of_spades.png');
  background-size:100% 100%;
}

#ten-diamonds{
  background-image:url('PNG-cards-1.3/10_of_diamonds.png');
  background-size:100% 100%;
}

#ten-hearts{
  background-image:url('PNG-cards-1.3/10_of_hearts.png');
  background-size:100% 100%;
}

#ace-clubs{
  background-image:url('PNG-cards-1.3/ace_of_clubs.png');
  background-size:100% 100%;
}

#ace-spades{
  background-image:url('PNG-cards-1.3/ace_of_spades.png');
  background-size:100% 100%;
}

#ace-diamonds{
  background-image:url('PNG-cards-1.3/ace_of_diamonds.png');
  background-size:100% 100%;
}

#ace-hearts{
  background-image:url('PNG-cards-1.3/ace_of_hearts.png');
  background-size:100% 100%;
}

#jack-clubs{
  background-image:url('PNG-cards-1.3/jack_of_clubs.png');
  background-size:100% 100%;
}

#jack-spades{
  background-image:url('PNG-cards-1.3/jack_of_spades.png');
  background-size:100% 100%;
}

#jack-diamonds{
  background-image:url('PNG-cards-1.3/jack_of_diamonds.png');
  background-size:100% 100%;
}

#jack-hearts{
  background-image:url('PNG-cards-1.3/jack_of_hearts.png');
  background-size:100% 100%;
}

#queen-clubs{
  background-image:url('PNG-cards-1.3/queen_of_clubs.png');
  background-size:100% 100%;
}

#queen-spades{
  background-image:url('PNG-cards-1.3/queen_of_spades.png');
  background-size:100% 100%;
}

#queen-diamonds{
  background-image:url('PNG-cards-1.3/queen_of_diamonds.png');
  background-size:100% 100%;
}

#queen-hearts{
  background-image:url('PNG-cards-1.3/queen_of_hearts.png');
  background-size:100% 100%;
}

#king-clubs{
  background-image:url('PNG-cards-1.3/king_of_clubs.png');
  background-size:100% 100%;
}

#king-spades{
  background-image:url('PNG-cards-1.3/king_of_spades.png');
  background-size:100% 100%;
}

#king-diamonds{
  background-image:url('PNG-cards-1.3/king_of_diamonds.png');
  background-size:100% 100%;
}

#king-hearts{
  background-image:url('PNG-cards-1.3/king_of_hearts.png');
  background-size:100% 100%;
}
